@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;

  --shadow-neon-blue: 0 0 10px #00f3ff, 0 0 20px #00f3ff, 0 0 40px #00f3ff;
  --shadow-neon-purple: 0 0 10px #bc13fe, 0 0 20px #bc13fe, 0 0 40px #bc13fe;
  --shadow-glass: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-glow {
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.7), 0 0 20px rgba(0, 243, 255, 0.5);
}